* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HP */
.healthadjust{
    padding-top: 2vh;
    padding-left: 20vh;
    display: block;
}

#health{
    display: none;
    position: fixed;
}

#plus{
    margin-left: 2vh;
}

/* Hint */
section{
    text-align: center;
    display: block;
    padding-top: 2vh;
}

/* Body */
body{
    background-image: url(img/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    color: white;
}

/* Interacties */
#kampvuur{
    display: block;
    position: fixed;
}

#javier{
    margin-left: 34vh;
}

#speler{
    margin-left: 70vh;
}

#slime{
    margin-left: 70vh;
}

#muziek{
    display: block;
    position: fixed;
    margin-left: 115vh;
    margin-top: 12vh;
}

#wegwijzer{
    display: block;
    position: fixed;
    margin-left: 124vh;
    margin-top: 20vh;
}

#wensput{
    display: block;
    position: fixed;
    margin-left: 145vh;
    margin-top: 25vh;
}